:root {
  /* Custom CSS Variables */
  --header-height: 4rem;
  --radius: 0.5rem;

  /* CSS Variables for dark theme */
  --background: #010816;
  --foreground: #f7f9fb;

  --card: #010816;
  --card-foreground: #f7f9fb;

  --popover: #010816;
  --popover-foreground: #f7f9fb;

  --primary: #f7f9fb;
  --primary-foreground: #0f172a;

  --secondary: #1e293b;
  --secondary-foreground: #f7f9fb;

  --muted: #1e293b;
  --muted-foreground: #94a3b7;

  --accent: #1e293b;
  --accent-foreground: #f7f9fb;

  --destructive: #7f1d1d;
  --destructive-foreground: #f7f9fb;

  --border: #1e293b;
  --input: #1e293b;
  --ring: #cad4e0;
}