<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initil-scale=1.0">
  <link id="css-theme" rel="stylesheet" href="{{ url_for('static', filename='css/themes/darkTheme.css') }}" />
  <!-- <link id="css-theme" rel="stylesheet" href="{{ url_for('static', filename='css/themes/lightTheme.css') }}" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/main_layout.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/side_nav.css') }}" />
  <script src="https://unpkg.com/htmx.org@latest"></script>
  <title>HTMX Admin</title>
</head>


<body>
  <div class="app-wrapper">
    {% block app %}{% endblock app %}
  </div>

  <!--
  <script type="module" src="{{ url_for('static', filename='js/themeChanger.js') }}"></script>
  -->

</body>

</html>